@model Social_Solutions.Models.Imoveis

@{
    ViewData["Title"] = "Create";
}

<div class="div-create-imovel d-flex flex-column justify-content-end">
    <h1>Create</h1>

<h4>Imoveis</h4>
<hr />
<div class="w-50">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo_Negocio" class="control-label"></label>
                <input asp-for="Tipo_Negocio" class="form-control" />
                <span asp-validation-for="Tipo_Negocio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imovel_Ativo" class="control-label"></label>
                <input asp-for="Imovel_Ativo" class="form-control" />
                <span asp-validation-for="Imovel_Ativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Cliente" class="control-label"></label>
                <input asp-for="Id_Cliente" class="form-control" />
                <span asp-validation-for="Id_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
